.header {
    margin-bottom: 30px !important;
    background-color: white !important;
    padding: 0 22px 0 0 !important;
    border-radius: 6px !important;
    box-shadow: 0px 2px 25px 0px var(--main-color) !important;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;
  }
  .header_navlink{
    padding: 0px;
  }


  .header_link {
    font-weight: bold !important;
    line-height: 22px !important;
    color: black !important;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;

  }
  
  .header_link:hover {
    color: var(--main-color) !important;
  }
  
  .header_link_active {
    font-weight: 500;
    color: var(--main-color) !important;
    box-shadow: 0 0 10px var(--main-color);
    animation: glow 1s infinite alternate;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px var(--main-color);
    }
    to {
      box-shadow: 0 0 20px var(--main-color), 0 0 30px var(--main-color), 0 0 40px var(--main-color);
    }
  }
  
  .header_home {
    background-color: var(--main-color) !important;
    padding: 22px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    
  }
  
  .header_left {
    margin-right: auto !important;
  }
  
  .header_right {
    display: flex !important;
    align-items: center !important;
    margin-left: auto !important; /* Add this to align right */
    font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;
  }
  
  .header_right > a > .MuiSvgIcon-root {
    font-size: 30px !important;
    margin-right: 12px !important;
    color: black !important;
  }
  